source https://nuget.org/api/v2
framework: netstandard2.0, netcoreapp2.0
redirects: force

nuget FSharp.Core >= 4.2.3
nuget TypeShape >= 8.0.1
nuget Microsoft.Extensions.Configuration

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE 4.64.3
  nuget FSharp.Formatting
  nuget Octokit 0.28

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FsUnit
  nuget Microsoft.NET.Test.Sdk 15.6.1
  nuget NUnit
  nuget NUnit3TestAdapter 3.10.0
  nuget UnQuote
  
  nuget Microsoft.Extensions.Configuration.Ini
  nuget Microsoft.Extensions.Configuration.JSON
  nuget Microsoft.Extensions.Configuration.Xml