<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="ProcessId" value="321" />
  <add key="Process-Id" value="321" />
  <add key="MYAPPProcessId" value="321" />
  <add key="processid" value="321" />
  <add key="ProcessName" value="appconfig.exe" />
  <add key="Process-Name" value="appconfig.exe" />
  <add key="MYAPPProcessName" value="appconfig.exe" />
  <add key="processname" value="appconfig.exe" />
  <add key="Bool1" value="true" />
  <add key="Bool2" value="false" />
  <add key="INT16" value="12" />
  <add key="INT32" value="567" />
  <add key="INT64" value="1200000123232323" />
  <add key="UINT16" value="12" />
  <add key="UINT32" value="567" />
  <add key="UINT64" value="1200000123232323" />
  <add key="STRING" value="567" />
  <add key="BYTE" value="86" />
  <add key="SBYTE" value="86" />
  <add key="FLOAT" value="3.14" />
  <add key="FLOAT32" value="3.14" />
  <add key="SINGLE" value="3.14" />
  <add key="DOUBLE" value="6.28" />
  <add key="DECIMAL" value="123123.123493234342322" />
  <add key="CHAR" value="a" />
  <add key="DATE_TIME" value="5/01/2008 14:57:32.80 -07:00" />
  <add key="DateTimeOffset" value="5/01/2008 14:57:32.80 -07:00" />
  <add key="TimeSpan" value="99.23:59:59.9999999" />
  <add key="Guid" value="f36fd7ca-1005-4d72-af92-c62e63cccaaf" />
  <add key="ENUM_STRING" value="Red" />
  <add key="ENUM_FLAGS" value="Red, Blue" />
  <add key="ENUM_INT" value="0" />
  <add key="IntOptionBadValue" value="foo" />
  <add key="IntOption" value="42" />
  <add key="MagicNumber" value="42" />
  <add key="AwsAccessKeyId" value="Id-123" />
  <add key="AwsDefaultRegion" value="us-east-1" />
  <add key="AwsSecretAccessKey" value="secret123" />
  <add key="magic-number" value="42" />
  <add key="MYENVProcessNames" value="conhost.exe,gitter.exe"/>
  <add key="MYENVProcessIds" value="4700;15680"/>
  <add key="MYENVPipedFlow" value="4700|15680|-1" />
  <add key="IntListUp" value="42|43|44" />
</appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.4.1.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
